.imagenPrincipal{
    background-image: url(/assets/img/portada.jpeg);
    background-position: center;
   height: 90vh;
   -webkit-animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both}
   @-webkit-keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}
  
  .tituloCosas{
    color: rgb(255, 255, 255);
    background-color: rgba(171, 238, 245, 0.242);
    font-size: 100px;
    font-family: "Square Peg", cursive;
  }
.tituloCards{
  @extend .tituloCosas;
  color: #000;
  background-color: #f8dae9;
  border-style:dotted;
  border-inline-width: 0px;
  
}

  .card{
  transition: .3s;
  }
  .card:hover{
    transform: scale(1.1) translateY(-5px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  .button-83 {
    appearance: button;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border: solid black 0.5px;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #482307;
    column-gap: 1rem;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 100%;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    outline: 2px solid transparent;
    padding: 1rem 1.5rem;
    text-align: center;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    @include sombraCaja;
  }
  
  .button-83:active {
    background-color: #f3f4f6;
    @include sombraCaja;
    transform: translateY(0.125rem);
  }
  
  .button-83:focus {
    box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
  }
  @media (max-width: 768px) { 
    .imagenPrincipal{
      max-height: 40vh;
    }
    .imagenPrincipal>h2{
    font-size: 50px;
  }
    .imagenPrincipal>h3{
    font-size: 20px;
   
  }

    .card{
   transition: none;
   
  
  }
    .card:hover{
    transform: none;
  }
  .gapRes{
    gap: 45px;
    padding-inline: 30px;
    
  }
  .tituloCards{
    font-size: 50px;
  }
  .pQuienes{
    height: 120px;
  }
  }
